body {
  background-image: url(images/greenFelt.png);
  text-align: center;
}

.sizeSelector {
  margin-top: 24px;
  text-align: center;
}

.gameArea {
  text-align: center;
  margin: 24px auto 0px auto;
  font-size: 0px;
  width: 768px;
  height: 768px;
  position: relative;
}

.card {
  width: 64px;
  height: 93px;
  display: inline-block;
  margin: 8px;
  background-image: url(images/playingCard.png);
  background-size: contain;
  display: inline-block;
  font-size: 48px;
  text-align: center;
  line-height: 93px;
  font-family: 'Caesar Dressing', cursive;
  position: absolute;
  /*Prevents the user from selecting text on the cards*/
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body label {
  vertical-align: middle;
  font-family: 'Chicle', sans-serif;
  font-size: 32px;
  color: #52FF00;
  letter-spacing: 2px;
  text-shadow: 1px 1px 4px black, -1px 1px 4px black, 1px -1px 4px black, -1px -1px 4px black;
}

.gameInfo > * {
  display: inline;
}

.gameInfo p {
  font-family: 'Chicle', sans-serif;
  font-size: 24px;
  color: #52FF00;
  letter-spacing: 1px;
  text-shadow: 1px 1px 4px black, -1px 1px 4px black, 1px -1px 4px black, -1px -1px 4px black;
}

#movesTaken {
  font-family: 'Caesar Dressing', cursive;
}

#newGame {
  border: none;
  border-radius: 0px;
  background-color: transparent;
  font-family: 'Chicle', sans-serif;
  font-size: 24px;
  color: #52FF00;
  text-shadow: 1px 1px 4px black, -1px 1px 4px black, 1px -1px 4px black, -1px -1px 4px black;
  vertical-align: middle;
}

#newGame:hover {
  color: #83ff00;
}

#newGame:focus{
  outline: 0px;
}

#newGame:active{
  color: #4fed00;
}

.sizeSelector input{
  border: 0px;
  display: inline;
  text-align: center;
}

.sizeSelector input:focus {
  outline: 0px;
}
