body {
  background-image: url(greenFelt.png);
  text-align: center;
}

.gameArea {
  text-align: center;
  margin: 48px auto 0px auto;
  font-size: 0px;
  width: 768px;
  height: 768px;
  position: relative;
}

.card {
  width: 64px;
  height: 93px;
  display: inline-block;
  margin: 8px;
  background-image: url(playingCard.png);
  background-size: contain;
  display: inline-block;
  font-size: 48px;
  text-align: center;
  line-height: 93px;
  font-family: 'Caesar Dressing', cursive;
  vertical-align: top;
  position: absolute;
}

body label {
  font-family: Arial, sans-serif;
  font-size: 24px;
}
